
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  text-align: center;
  background-color: transparent;
  padding: 15px;
  color: rgb(0, 0, 51);
  width: 100%;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px gray;
}
footer p {
  font-size: 13px;
}

@media (min-width: 768px) {
  footer {
    font-size: 16px;
  }
}
